body {
    background: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1em;

    /**/
    width: 100%;
}
a {
    text-decoration: none;
/*    color: #DF0101; */
}
#main {
    margin: auto;
    /*width: 900px;*/

    /**/
    width: 100%;
}
a:hover {
    text-decoration: none;
}
/* Tools */
.small {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}
.small a {
    color: grey;
    font-size: 0.8;
    font-style: italic;
}
.cent {
    width: 100%;
    text-align: left;
}

.bottom {
    margin-bottom: 1%;
}

span.grey {
    color: #D9D9D9;
}
a span.grey:hover {
    color: #636363;
}
span.green {
    color: #6AA84F;
}
a span.green:hover {
    color: #274E13;
}
span.blue {
    color: #6D9EEB;
}
a span.blue:hover {
    color: #1B4486;
}
span.orange {
    color: #E69138;
}
a span.orange:hover {
    color: #793F03;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
h1.error {
    text-align: center;
    padding: 50px;
}
label {
    margin-right: 10px;
}
.dview {
    display: none;
    padding: 1%;
    margin: 1%;
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    border-left: 1px solid #ccc;
}

.dview .row-fluid {
    margin-bottom: 1%;
}

.mini_form {
    margin: 0;
    text-align: center;
}

.bg_grey { background-color: #D9D9D9; }
.bg_blue { background-color: #6D9EEB; }
.bg_green { background-color: #6AA84F; }
.bg_orange { background-color: #E69138; }

.border_grey { border-color: #636363; }
.border_green { border-color: #274E13; }
.border_blue { border-color: #1B4486; }
.border_orange { border-color: #793F03; }

.color_grey { color: #636363; }
.color_green { color: #274E13; }
.color_blue { color: #1B4486; }
.color_orange { color: #793F03; }

/* Login Page */
#main_login {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 900px/* 480 + 300 */;
}
#login {
    float: right;
}
#login h1, #login h3 {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#login h1 {
    margin-top: 100px;
    margin-bottom: 2px;
    font-size: 27px;
}
#login h3 {
    font-size: 12px;
    margin-bottom: 30px;
}
/* Header */
#header {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 200px;
}
#header .logo {
    float: left;
    width: 220px;
    height: 200px;
    background: url('../img/interface/logo_mini.png') no-repeat;
    margin-left: 10%;
    margin-right: 4%;
}
#header .name {
    margin-left: 15%;
    /* width: 680px/\* 900 - 220*\/ ; */
    /* height: 140px/\* 200 - 60*\/ ; */
    width: 75%;
    padding-top: 40px;
    text-align: center;
}
#header .name h1 {
    font-size: 5em;
    font-weight: bold;
    font-family: monospace;
}
#header .name h3 {
    font-size: 2em;
    font-weight: normal;
    font-family: monospace;
}
#header .menu {
    font-size: 1.2em;
    text-align: left;
    padding-top: 3%;
    padding-left: 4%;
    color: #888888;
}
#header .menu a {
    color: #888888;
}
#header .menu a:hover {
    color: black;
}
#header .menu img {
    vertical-align: middle;
}
#header form.search {
    display: inline;
}
#header form.search input {
    width: 20%;
    font-size: 1em;
    padding: 1%;
}
#header form.search input.submit {
    width: 10%;
    margin-left: 0px;
    font-size: 1em;
}
/* Home */
#home {
}
.column {
    /*width: 217px*//* 900/4 = 225 - (2*4) ;*/
    /*height: 580px;*/
    overflow: hidden;
    /*margin: 4px;*/
    float: left;

    /**/
    min-width: 210px;
    width: 23%;
    margin: 1%;
}
.column .grey, .column .blue {
    -moz-border-radius: 50px 15px 35px 15px;
    border-radius: 50px 15px 35px 15px;
    border: 4px solid;
}
.column .orange, .column .green {
    -moz-border-radius: 15px 50px 15px 35px;
    border-radius: 15px 50px 15px 35px;
    border: 4px solid;
}
.column .grey, .column .grey .preview_article .button {
    background-color: #D9D9D9;
    border-color: #636363;
}
.column .green, .column .green .preview_article .button {
    background-color: #6AA84F;
    border-color: #274E13;
}
.column .blue, .column .blue .preview_article .button {
    background-color: #6D9EEB;
    border-color: #1B4486;
}
.column .orange, .column .orange .preview_article .button {
    background-color: #E69138;
    border-color: #793F03;
}
.column h2 {
    margin: 0px;
    padding: 0px;
    padding-top: 1%;
    font-size: 1.8em;
    text-align: center;
}
.column .grey h2 {
    color: #D9D9D9;
    text-shadow: 0 0 5px #636363;
}
.column .green h2 {
    color: #6AA84F;
    text-shadow: 0 0 5px #274E13;
}
.column .blue h2 {
    color: #6D9EEB;
    text-shadow: 0 0 5px #1B4486;
}
.column .orange h2 {
    color: #E69138;
    text-shadow: 0 0 5px #793F03;
}
.column .body {
    margin: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    background: white;
    /*height: 200px*//* 400 - (5*2) ;*/
    overflow: hidden;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

    /**/
    position: relative;
}
.column .grey .body {
    border: 2px solid #636363;
}
.column .green .body {
    border: 2px solid #274E13;
}
.column .blue .body {
    border: 2px solid #1B4486;
}
.column .orange .body {
    border: 2px solid #793F03;
}
.column .foot {
    color: white;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 2%;
}
.column .foot a {
    color: white;
}
.column .foot a:hover {
    text-decoration: underline;
}
.column .grey .foot, .column .grey .foot a {
    color: #777777;
}
.column .orange .foot, .column .green .foot {
    text-align: right;
}
.column .grey .foot, .column .blue .foot {
    text-align: left;
}
/* Preview Article */
.preview_article {
    margin-bottom: 3%;
    clear: both;
}
.preview_article .title {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    padding: 2%;
}
.preview_article img {
    width: 35%;
    height: 35%;
}
.grey .preview_article img, .blue .preview_article img {
    float: left;
}
.green .preview_article img, .orange .preview_article img {
    float: right;
}
.preview_article .content {
    font-size: 0.9em;
    line-height: 100%;
    text-align:justify;
}
.grey .preview_article .content, .blue .preview_article .content {
    margin-left: 40%;
}
.green .preview_article .content, .orange .preview_article .content {
    margin-right: 40%;
}
.preview_article .content .text {
    /* height: 44px;/\*70 - button(12+(2*4)+(2*2)) -2*\/ */
    overflow: hidden;
    padding: 5%;
}
.preview_article .content .button {
    -moz-border-radius: 15px 5px 15px 5px;
    border-radius: 15px 5px 15px 5px;
    border: 2px solid;
    margin: 2%;
    padding: 3%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}
.grey .preview_article .content .button:hover, .blue .preview_article .content .button:hover {
    box-shadow: 2px 2px 5px #888888;
}
.green .preview_article .content .button:hover, .orange .preview_article .content .button:hover {
    box-shadow: -2px 2px 5px #888888;
}
.grey .preview_article .content .button, .blue .preview_article .content .button {
    -moz-border-radius: 15px 5px 15px 5px;
    border-radius: 15px 5px 15px 5px;
}
.green .preview_article .content .button, .orange .preview_article .content .button {
    -moz-border-radius: 5px 15px 5px 15px;
    border-radius: 5px 15px 5px 15px;
}
.grey .preview_article .content .button, .grey .preview_article .title {
    color: #636363;
}
.green .preview_article .content .button, .green .preview_article .title {
    color: #274E13;
}
.blue .preview_article .content .button, .blue .preview_article .title {
    color: #1B4486;
}
.orange .preview_article .content .button, .orange .preview_article .title {
    color: #793F03;
}
/* Rumor */
.column .rumor {
    margin-top: 5%;
    overflow: hidden;
    text-align: center;
}
.column .rumor .false, .column .rumor .true {
    border: 4px solid;
    padding: 2%;
    padding-bottom: 1%;
}
.column .right .rumor .true, .column .right .rumor .false {
    -moz-border-radius: 50px 15px 35px 15px;
    border-radius: 40px 10px 40px 10px;
}
.column .left .rumor .true, .column .left .rumor .false {
    -moz-border-radius: 50px 15px 35px 15px;
    border-radius: 10px 40px 10px 40px;
}
.column .rumor .false, .column .rumor .vote .button_false {
    background: #EA9999;
    border-color: #660000;
    color: #660000;
}
.column .rumor .true, .column .rumor .vote .button_true {
    background: #B6D7A8;
    border-color: #274E13;
    color: #274E13;
}
.column .rumor .title {
    font-size: 1.3em;
    font-weight: bold;
}
.column .rumor .content {
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 4%;
}
.column .rumor .true .content {
    text-shadow: 0 0 2px #274E13;
    -moz-text-shadow: 0 0 2px #274E13;
    -webkit-text-shadow: 0 0 2px #274E13;
}
.column .rumor .false .content {
    text-shadow: 0 0 2px #660000;
    -moz-text-shadow: 0 0 2px #660000;
    -webkit-text-shadow: 0 0 2px #660000;
}
.column .rumor .vote {
    font-size: 1.4em;
    padding-top: 1%;
    padding-bottom: 4%;
}
.column .rumor .vote .mark {
}
.column .rumor .vote .button_true:hover {
    box-shadow: 1px 1px 5px #274E13;
}
.column .rumor .vote .button_false:hover {
    box-shadow: 1px 1px 5px #660000;
}
.column .rumor .vote .button_true, .column .rumor .vote .button_false {
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 2%;
}
.column .rumor .foot {
    font-size: 0.9em;
}
.column .rumor .true .foot a {
    color: #274E13;
}
.column .rumor .false .foot a {
    color: #660000;
}

/* Cast */

.cast {

}

.cast h6 {
    margin-top: -20px;
    opacity: 0.7;
}

.iui_thb {
    text-align: center;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.3);
    padding: 1%;
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
}

/* Admin */

#admin {
}

#admin .header {
    background: #D9D9D9;
    color: #636363;
    height: 80px;
    padding: 30px;
    border-bottom: 1px #636363 solid;
}

#admin .header img {
    float: left;
    height: 60px;
    padding-right: 20px;
}

#admin .header h1 {
    font-size: 32px;
    padding: 10px;
}

#admin .header .name {
    font-family: monospace;
    float: right;
}

#admin .header .name h2 {
    font-size: 1.5em;
    font-weight: bold;
}

#admin .header .name h3 {
    font-size: 15px;
    font-weight: normal;
    margin-top: -10px;
    text-align: center;
}

#admin .content {
    padding: 1%;
}

#admin .menu {
    background: #636363;
    color: #D9D9D9;
}

#admin .menu .button {
    padding: 2%;
    color: #D9D9D9;
}

#admin .menu .button:hover {
    background: #D9D9D9;
    color: #636363;
}

#admin .page {
/*    margin-right: 1%; */
/* min-height: 500px; */
}

#admin .submenu .button {
    margin: 1%;
}


/* Footer */
#footer {
    clear: both;
    padding: 2%;
}
#footer .menu {
    text-align: center;
}
#footer .menu .button {
    text-align: center;
    letter-spacing: 2px;
    padding: 1%;
    font-size: 1.5em;
    font-weight: bold;
}
